<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhooti-Anand</title>
</head>

<body>


    <div style="padding: 50px;">
        <h1>ANAND S</h1>
        <nav>
            <ul>
                <li><a href="/anand/task3">TASK 3</a></li>
                <li><a href="/anand/task2">TASK 2</a></li>
                <li><a href="/anand/task1">TASK 1</a></li>

            </ul>
        </nav>
    </div>


</body>

</html>