<section class="container">
    {{!-- {{#if ifpost}}
    <form class="flex" hx-post="/anand/task7" hx-target="#list2">
        <input name="item" type="text">
        <input name="num" value="1" type="text" hidden>
        <input type="submit" value="click">
    </form>
    <ol id="list1">
        {{#each data}}
        <li>{{item}}</li>
        {{/each}}
    </ol>
    {{/if}}
    <section class="flex">
        {{#if ifpost}}
        <form class="flex">
            <input name="d" type="text">
            <input type="submit" value="click">
        </form>
        {{/if}}
        <ol id="list2">
            {{#each data}}
            <li>{{item}}</li>
            {{/each}}
        </ol>
    </section>
    <section class="flex">

    </section>
    <section class="flex">

    </section> --}}
    <section class="flex">
        <form>
            {{#if ifpost}}
            <input name="one" value="1" hidden type="text">
            <button hx-trigger="click, keyup[altKey&&ctrlKey&&key=='p'] from:body" hx-post="/anand/task7" hx-target="#second"  type="submit">Click1</button>
            {{/if}}

        </form>
        <h4 id="one">Count:0</h4>
    </section>
    <section class="flex">
        <form >
            {{#if ifpost}}
            <input name="two" value="1" hidden type="text">
            <button hx-trigger="click, keyup[altKey&&ctrlKey&&key=='j'] from:body" hx-post="/anand/task7" hx-target="#third" type="submit">Click2</button>
            {{/if}}
            {{!-- <h5 id="second">{{val.one}}</h5> --}}
        </form>
        <h4 id="second">Count:0</h4>
    </section>
    <section class="flex">
        <form >
            {{#if ifpost}}
            <input name="three" value="1" hidden type="text">
            <button hx-trigger="click, keyup[altKey&&ctrlKey&&key=='k'] from:body" hx-post="/anand/task7" hx-target="#four" type="submit">Click3</button>
            {{/if}}
        </form>
        <h4 id="third">Count:0</h4>
    </section>
    <section class="flex">
        <form >
            {{#if ifpost}}
            <input name="four" value="1" hidden type="text">
            <button hx-trigger="click, keyup[altKey&&ctrlKey&&key=='l'] from:body"  hx-post="/anand/task7" hx-target="#one" type="submit">Click4</button>
            {{/if}}
        </form>
        <h4 id="four">Count:0</h4>
    </section>
</section>
<h1 id="second">{{val.one}}</h1>
<style>
    .container {
        margin-top: 30px;
        display: flex;
        width: 100%;
        background-color:darkgrey;
        padding: 10px;

    }

    .flex {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: center;
    }
</style>