<form action="/anand/adddata" method="post">
    <label for="fname">FIRST NAME:</label><br>
    <input required placeholder="fname" type="text" id="fname" name="fname"><br>
    <label for="lname">LAST NAME:</label><br>
    <input required placeholder="lname" type="text" id="lname" name="lname"><br>
    <label for="dob">DOB:</label><br>
    <input required placeholder="dd/mm/yy" type="text" id="dob" name="dob"><br>
    <label for="add">Address:</label><br>
    <textarea name="address" id="add" cols="30" rows="10"></textarea><br>
    <label for="pin">PIN CODE:</label><br>
    <input required placeholder="pin code" type="number" id="pin" name="pin"><br>
    <label for="number">PHONE NUMBER:</label><br>
    <input required placeholder="phone" type="number" id="number" name="number"><br>
    <input type="submit">
</form>

<a href="/anand/viewusers">View Users</a>