<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASK#</title>
</head>

<body>
    <form action="/anand/calcualte" method="POST">
        <label for="height">HEIGHT:</label><br>
        <select name="format" id="format">
            <option value="cm">CM</option>
            <option value="ft">FT</option>
        </select>
        <input type="number" id="height" name="height"><br>
        <label for="weight">WEIGHT:</label><br>
        <input placeholder="in kilo grams" type="number" id="weight" name="weight"><br>
        <input type="submit">
    </form>
    <p>BMI:{{bmi}}</p>
</body>

</html>