<section class="container">
    {{!-- <section class="flex">
        {{#if ifpost}}
        <form hx-post="/anand/task7" hx-target="#list2">
            <input name="item" type="text">
            <input name="num" value="1" type="text" hidden>
            <input type="submit" value="click">
        </form>
        <div id="list">

        </div>
        {{/if}}
    </section>

    <section class="flex">
        {{#if ifpost}}
        <form class="flex">
            <input name="d" type="text">
            <input type="submit" value="click">
        </form>
        {{/if}}
        <div id="list2">

        </div>
    </section>
    <section class="flex">

    </section>
    <section class="flex">

    </section> --}}

    <section class="flex">
        <form hx-on::after-request="this.reset()" hx-post="/anand/task7"
            hx-vals="js:{&quot;childCount&quot;: document.querySelectorAll(&quot;#list2 li&quot;).length}"
            hx-swap="innerHtml" hx-target="#list2">
            {{#if ifpost}}
            <input name="item" type="text">
            <input name="num" value="2" hidden type="text">
            <select hx-trigger="programClick1" hx-post="/anand/add_dropdown" hx-target="this" hx-swap="beforeend"
                hx-vars="{&quot;childCount&quot;: document.querySelectorAll(&quot;#list2 li&quot;).length}"
                name="position" id="select1">
                <option value="1" selected>1</option>
            </select>
            <button id="submit1" type="submit">Click1</button>
            {{/if}}

        </form>
        <ol id="list1">

        </ol>

    </section>
    <section class="flex">
        <form hx-on::after-request="this.reset()" hx-post="/anand/task7"
            hx-vals="js:{&quot;childCount&quot;: document.querySelectorAll(&quot;#list3 li&quot;).length}"
            hx-swap="innerHtml" hx-target="#list3">
            {{#if ifpost}}
            <input name="item" id="newItemInput" type="text">
            <input name="num" value="3" hidden type="text">
            <select hx-trigger="programClick2" hx-post="/anand/add_dropdown" hx-target="this" hx-swap="beforeend"
                hx-vars="{&quot;childCount&quot;: document.querySelectorAll(&quot;#list3 li&quot;).length}"
                name="position" id="select2">
                <option value="1" selected>1</option>
            </select>
            <button id="submit2" type="submit">Click2</button>
            {{/if}}
        </form>
        <ol id="list2">

        </ol>
    </section>

    <section hx-on::after-request="this.reset()" class="flex">
        <form hx-post="/anand/task7"
            hx-vals="js:{&quot;childCount&quot;: document.querySelectorAll(&quot;#list4 li&quot;).length}"
            hx-swap="innerHtml" hx-target="#list4">
            {{#if ifpost}}
            <input name="item" type="text">
            <input name="num" value="4" hidden type="text">
            <select hx-trigger="programClick3" hx-post="/anand/add_dropdown" hx-target="this" hx-swap="beforeend"
                hx-vars="{&quot;childCount&quot;: document.querySelectorAll(&quot;#list4 li&quot;).length}"
                name="position" id="select3">
                <option value="1">1</option>
            </select>
            <button id="submit3" type="submit">Click3</button>
            {{/if}}
        </form>
        <ol id="list3">

        </ol>
    </section>
    <section hx-on::after-request="this.reset()" class="flex">
        <form hx-post="/anand/task7"
            hx-vals="js:{&quot;childCount&quot;: document.querySelectorAll(&quot;#list1 li&quot;).length}"
            hx-swap="innerHtml" hx-target="#list1">
            {{#if ifpost}}
            <input name="item" type="text">
            <input name="num" value="1" hidden type="text">
            <select hx-trigger="programClick4" hx-post="/anand/add_dropdown" hx-target="this" hx-swap="beforeend"
                hx-vars="{&quot;childCount&quot;: document.querySelectorAll(&quot;#list1 li&quot;).length}"
                name="position" id="select4">
                <option value="1">1</option>
            </select>
            <button id="submit4" type="submit">Click4</button>
            {{/if}}
        </form>
        <ol id="list4">

        </ol>
    </section>
</section>
<h1 id="second">{{val.one}}</h1>
<style>
    .container {
        margin-top: 30px;
        display: flex;
        width: 100%;
        background-color: darkgrey;

    }

    .flex {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
    }

    #list1,
    #list2,
    #list3,
    #list4 {
        width: 100%;
        color: white;
        font-size: large;
    }
</style>
<script>

    document.getElementById('submit1').addEventListener('click', function () {
        document.getElementById('select1').dispatchEvent(new Event('programClick1'));
    });
    document.getElementById('submit2').addEventListener('click', function () {
        document.getElementById('select2').dispatchEvent(new Event('programClick2'));
    });
    document.getElementById('submit3').addEventListener('click', function () {
        document.getElementById('select3').dispatchEvent(new Event('programClick3'));
    });
    document.getElementById('submit4').addEventListener('click', function () {
        document.getElementById('select4').dispatchEvent(new Event('programClick4'));
    });
</script>