<section class="container">
    {{!-- <section class="flex">
        {{#if ifpost}}
        <form hx-post="/anand/task7" hx-target="#list2">
            <input name="item" type="text">
            <input name="num" value="1" type="text" hidden>
            <input type="submit" value="click">
        </form>
        <div id="list">

        </div>
        {{/if}}
    </section>

    <section class="flex">
        {{#if ifpost}}
        <form class="flex">
            <input name="d" type="text">
            <input type="submit" value="click">
        </form>
        {{/if}}
        <div id="list2">

        </div>
    </section>
    <section class="flex">

    </section>
    <section class="flex">

    </section> --}}
    
    <section class="flex">
        <form>
            {{#if ifpost}}
            <input name="item" type="text">
            <input name="one" value="1" hidden type="text">
            <button hx-trigger="click, keyup[altKey&&ctrlKey&&key=='p'] from:body" hx-post="/anand/task7"
                hx-target="#list2" type="submit">Click1(alt+ctrl+p)</button>
            {{/if}}

        </form>
        <div id="list1">

        </div>
    </section>
    <section class="flex">
        <form>
            {{#if ifpost}}
            <input name="item" type="text">
            <input name="two" value="1" hidden type="text">
            <button hx-trigger="click, keyup[altKey&&ctrlKey&&key=='j'] from:body" hx-post="/anand/task7"
                hx-target="#list3" type="submit">Click1(alt+ctrl+j)</button>
            {{/if}}
        </form>
        <div id="list2">

        </div>
    </section>
    <section class="flex">
        <form>
            {{#if ifpost}}
            <input name="item" type="text">
            <input name="three" value="1" hidden type="text">
            <button hx-trigger="click, keyup[altKey&&ctrlKey&&key=='k'] from:body" hx-post="/anand/task7"
                hx-target="#list4" type="submit">Click1(alt+ctrl+k)</button>
            {{/if}}
        </form>
        <div id="list3">

        </div>
    </section>
    <section class="flex">
        <form>
            {{#if ifpost}}
            <input name="item" type="text">
            <input name="four" value="1" hidden type="text">
            <button hx-trigger="click, keyup[altKey&&ctrlKey&&key=='l'] from:body" hx-post="/anand/task7"
                hx-target="#list1" type="submit">Click1(alt+ctrl+l)</button>
            {{/if}}
        </form>
        <div id="list4">

        </div>
    </section>
</section>
<h1 id="second">{{val.one}}</h1>
<style>
    .container {
        margin-top: 30px;
        display: flex;
        width: 100%;
        background-color: darkgrey;

    }

    .flex {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
    }
    #list1,#list2,#list3,#list4{
        width: 100%;
        display: flex;align-items: center;
        color: white;
        font-size: large;
    }
</style>